@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after,
*:focus,
*:active {
  box-sizing: border-box;
  border: none;
}

ul,
li,
a {
  padding: 0;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

/**
         Убираем внутренние отступы слева тегам списков,
         у которых есть атрибут class
        */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
         Убираем внешние отступы body и двум другим тегам,
         у которых есть атрибут class
        */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
         Убираем внешние отступы вертикали нужным тегам,
         у которых есть атрибут class
        */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
         Убираем стандартный маркер маркированному списку,
         у которого есть атрибут class
        */
:where(ul[class]) {
  list-style: none;
}

/**
         Обнуляем вертикальные внешние отступы параграфа,
         объявляем локальную переменную для внешнего отступа вниз,
         чтобы избежать взаимодействие с более сложным селектором
        */
/**
         Внешний отступ вниз для параграфа без атрибута class,
         который расположен не последним среди своих соседних элементов
        */
/**
         Упрощаем работу с изображениями
        */
img {
  display: block;
  max-width: 100%;
}

/**
         Наследуем свойства шрифт для полей ввода
        */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
           Пригодится в большинстве ситуаций
           (когда, например, нужно будет "прижать" футер к низу сайта)
          */
  height: 100%;
  /**
           Плавный скролл
          */
  scroll-behavior: smooth;
}

body {
  /**
           Пригодится в большинстве ситуаций
           (когда, например, нужно будет "прижать" футер к низу сайта)
          */
  min-height: 100%;
  /**
           Унифицированный интерлиньяж
          */
  line-height: 1.5;
}

/**
         Приводим к единому цвету svg-элементы
        */
svg *[stroke] {
  stroke: currentColor;
}

/**
         Чиним баг задержки смены цвета при взаимодействии с svg-элементами
        */
svg * {
  transition-property: fill, stroke;
}

/**
         Удаляем все анимации и переходы для людей,
         которые предпочитают их не использовать
        */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms;
    scroll-behavior: auto !important;
  }
}
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

ul,
ul li {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  padding: 0;
}

.btn,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn:focus,
button:focus {
  outline: none;
}

@font-face {
  font-family: "NameFont";
  src: url("./../../fonts/TacticSans-Blk.woff2") format("woff2"), url("./../../fonts/TacticSans-Blk.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "mainFont";
  src: url("./../../fonts/inter.woff2") format("woff2"), url("./../../fonts/inter.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: var(--main-font);
  color: var(--color-light);
  font-size: var(--main-size);
  height: 100vh;
  background-color: var(--color-dark);
}

.container {
  padding-inline: 40px;
  margin-inline: auto;
}

:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-dark-any: #0b0e12;
  --color-red: #eb0237;
  --color-green: #43ad28;
  --color-gray: #fafafa66;
  --color-gray-alt: #b4b5b6;
  --title-size: 32px;
  --main-size: 16px;
  --text-size: 14px;
  --title-font: "NameFont", sans-serif;
  --main-font: "mainFont", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}
.header__info {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header__title {
  font-size: 38px;
  font-family: var(--title-font);
}
.header__status-button {
  color: var(--color-gray-alt);
  padding: 15px 18px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #0b0e12;
}
.header__reload {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__reload-info {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #0b0e12;
  padding: 15px 20px;
  border-radius: 4px;
}
.header__status {
  position: relative;
}
.header__reload-button {
  display: flex;
  align-items: center;
  background-color: var(--color-red);
  color: var(--color-light);
  padding: 15px 50px;
  border-radius: 4px;
  gap: 12px;
}
.header__status-choise {
  position: absolute;
  z-index: 111;
}
.header__status-button {
  width: 100%;
  min-width: 165px;
}
@media (hover: hover) {
  .header__status-button:hover {
    opacity: 0.8;
  }
}
@media (hover: none) {
  .header__status-button:active {
    opacity: 0.8;
  }
}
.header__status-button__live {
  color: var(--color-light);
  background-color: var(--color-green);
}
.header__status-button__finish {
  color: var(--color-light);
  background-color: var(--color-red);
}

.header__reload-rotate.active {
  animation: rotate ease-in-out 3s;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: -90deg;
  }
  50% {
    rotate: -180deg;
  }
  75% {
    rotate: -270deg;
  }
  100% {
    rotate: -360deg;
  }
}
.match {
  cursor: pointer;
  border-radius: 18px;
}
.match__top, .match__commands {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark-any);
  gap: 50px;
}
.match__top-one, .match__top-too, .match__commands-one, .match__commands-too {
  width: 50%;
}
.match__wrapper {
  width: 100%;
  border-radius: 4px;
}
.match__res {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.match__score {
  font-size: 20px;
}
.match__status {
  font-size: 14px;
  padding: 4px 18px;
  background-color: var(--color-green);
  border-radius: 4px;
}
.match__command {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.match__command-button {
  padding-left: 25px;
}
.match__gray {
  color: var(--color-gray);
}

.match__commands {
  padding-bottom: 40px;
}

.matches {
  padding-top: 30px;
}
.matches__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.match__command-top__user-name {
  font-size: 16px;
  padding-left: 8px;
}
.match__command-top__item {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.match__command-top__wrapper {
  display: flex;
  align-items: center;
  background-color: #101318;
  padding: 10px 20px;
  justify-content: space-between;
}
.match__command-top__user {
  display: flex;
  align-items: center;
}
.match__command-btm__list {
  display: flex;
}

.match__command-top__list {
  width: 100%;
}

.match__command-btm__list {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #101318;
}/*# sourceMappingURL=main.css.map */