.match {
  &__command-btm {
    &__list {
      margin-top: 10px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #101318;
    }
  }
  &__commands {
    animation: vision linear 2s;
  }
}
@keyframes vision {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  20% {
    opacity: 0.25;
    transform: scale(0.35);
  }
  40% {
    opacity: 0.5;
    transform: scale(0.6);
  }
  60% {
    opacity: 0.75;
    transform: scale(0.85);
  }
  80% {
    opacity: 1;
    transform: scale(1.01);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
