body {
  font-family: var(--main-font);
  color: var(--color-light);
  font-size: var(--main-size);
  height: 100vh;
  background-color: var(--color-dark);
}

.container {
  padding-inline: 40px;
  margin-inline: auto;
}
