@font-face {
  font-family: "NameFont";
  src: url("./../fonts/TacticSans-Blk.woff2") format("woff2"),
    url("./../fonts/TacticSans-Blk.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "mainFont";
  src: url("./../fonts/inter.woff2") format("woff2"),
    url("./../fonts/inter.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
